# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS metadata & trash
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS Finder
.DocumentRevisions-V100
.apdisk
Network Trash Folder
